#header.ui.fixed.menu
  .ui.container
    %a.header.item{:href => "#"}
      %img.logo{:src => "assets/logo.png", style: "margin-right: 10px;width:25px"}
      Ball Up
    .ui.simple.dropdown.item
      Menu
      %i.dropdown.icon
      .menu
        %a.item{:href => gumtree_root_path} Gumtree Grab
        %a.item{:href => "#"} Countdown
        -#.divider
        -#.header Header Item
        -#.item
        -#  %i.dropdown.icon
        -#  Sub Menu
        -#  .menu
        -#    %a.item{:href => "#"} Link Item
        -#    %a.item{:href => "#"} Link Item
        -#%a.item{:href => "#"} Link Item
