/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_tree .
 *= require dist/semantic.min.css
 *= require_self
 */

#header {
  .item {
    color: white;
    padding: 0px 16px;
  }
}

.pusher {
  padding-top: 60px;
}

#main_setting_icon {
  margin: 10px;
  cursor: pointer;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.ui.items:not(.unstackable)>.item>.image, .ui.items:not(.unstackable)>.item>.image>img {
  max-height: none !important;
}

.ui.main.container {
  padding-top: 10px;
}

.ui.relaxed.items>.item {
  margin-bottom: 70px;
}

.ui.card {
  width: 190px;
}

#watchers .label {
  margin-bottom: 5px;
}