.item{data: {g_id: '_g_id'}}
  .image
    %a{href: '_link', target: '_blank'}
      %img.ui.medium.image{src: '_image_src'}
  .content
    %a.header{href: '_link', target: '_blank'}
      _header
    .meta
      %span _description
    .description
      %p
    .extra
      %span.time
        _time
      %br
      %span.location
        _location
    .extra.panel